/* This is the default code that should be copied and pasted into each css file 
and sort of like the blueprint for how the front-end will look */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: hsl(120, 4%, 52%);
  color: #38341a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-top: 160px; /* Adjust to match the height of the header */
  padding: 20px;
}

/* This is the default code that should be copied and pasted into each css file 
  and sort of like the blueprint for how the front-end will look */

.profile-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 25%;
}

.profile-info {
  margin-top: 20px;
}

.profile-field {
  margin-bottom: 15px;
}

.profile-field label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.profile-field .info {
  display: inline-block;
  margin-left: 10px;
}

.edit-profile {
  margin-top: 20px;
}

.edit-profile button {
  padding: 10px 20px;
  background-color: #160484;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile button:hover {
  background-color: #ffd700;
}

/*the audio controls*/

.audio-controls {
  background-color: hsl(120, 4%, 52%);
  color: rgb(31, 31, 31);
  text-align: center;
  padding-bottom: 10px;
}

.aud_btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.aud_btn:hover {
  background-color: #45a049;
}
