* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: hsl(120, 4%, 52%);
    color: #38341a;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #160484;
    color: #fff;
    padding: 10px 0;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 85px;
    height: auto;
    margin-right: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffd700;
}


.main {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.main h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.main p {
    font-size: 20px;
    margin-bottom: 40px;
}

.location-form {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.location-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.location-form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.location-form button:hover {
    background-color: #45a049;
}


.features {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

.features h2 {
    font-size: 40rpx;
    margin-bottom: 40px;
}

.feature {
    margin-bottom: 40px;
}

.feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #ffd700;
}
